<!-- <a [routerLink]="['/home']">
    Home
  </a>
<a [routerLink]="['/my-courses']">
    Course
  </a> -->


<mat-toolbar *ngIf="this._authservice.isLoggedIn()" class="text-center">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/home']">
    Home
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    [routerLink]="['/my-courses']">
    Course
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/login']">
    Login
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    [routerLink]="['/login/register']">
    Register
  </button>

</mat-toolbar>
