<div>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      color="accent"
      maxWidth="auto"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true" 
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        image='assets/Programmer.jpg'
        overlayColor="#00000040"
        [hideOverlay]="false"
        [routerLink]="['../', 'courses','category', '1']"
      ></mat-carousel-slide>
      <mat-carousel-slide
      #matCarouselSlide
      image='assets/software-development.jpg'
      overlayColor="#00000040"
      [hideOverlay]="false"
      [routerLink]="['../', 'courses','category', '1']"
    ></mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide
    image='assets/UI and UX.jpg'
    overlayColor="#00000040"
    [hideOverlay]="false"
    [routerLink]="['../', 'courses','category', '1']"
  ></mat-carousel-slide>
    </mat-carousel>
  </div>


  <!-- Courses -->

  
  

<mat-grid-list cols="4" rowHeight="500">
  <mat-grid-tile *ngFor="let course of courses">
    <mat-card [routerLink]="['../', 'courses', course.courseId]" class="example-card">
        <mat-card-header>
          <div mat-card-avatar  class="example-header-image"></div>
          <mat-card-title>{{course.name}}</mat-card-title>
          <mat-card-subtitle>{{course.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'../../../assets/' + course.imagepath" alt="Photo of a Shiba Inu">
        <mat-card-content style="height: 50px;overflow: hidden;">
          <p>
            {{course.courseDescription}}
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->

        <mat-card-actions *ngIf="isLoggedIn">
          <button style="float: right;" color="primary" [disabled]="userCourseIds?.includes(course.courseId)" (click)="assignCourse($event, course.courseId)" mat-raised-button >
            {{userCourseIds?.includes(course.courseId) ? 'Added' : 'Add'}}</button>
        </mat-card-actions>

      </mat-card>
</mat-grid-tile>
</mat-grid-list>







