

<mat-grid-list cols="4" rowHeight="500">
    <mat-grid-tile *ngFor="let course of courses">
      <mat-card [routerLink]='""+course.courseId' class="example-card">
          <mat-card-header>
            <div mat-card-avatar  class="example-header-image"></div>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.subTitle}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="'../../../assets/' + course.imagepath" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p style="text-overflow: ellipsis;">
              {{course.courseDescription}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button color="primary" (click)="addCourse(course.courseId)" mat-raised-button >Add</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>

  </mat-grid-list>



