@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

mat-card:hover{
    background-color: #dfdbe1;
    /* color: white; */
}