.example-card {
    max-width: 300px;
    margin: 20px;
    min-height: 363.200px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/Programmer.jpg');
    background-size: cover;
  }